{% extends "base.html.jinja" %}

{% block script %}
{% include "static/app.js" %}
{% endblock %}

{% block body %}
<h1>{{ now.strftime("%H:%M") }}</h1>
{% endblock %}

{% block button %}
<div id="location" class="center">
<button id="button" onclick="window.location.reload()">Reload</button>
<div id="error" class="small"></div>
</div>
{% endblock %}
