{% extends "base.html.jinja" %}

{% block style %}
svg > rect {
    fill: light-dark(var(--light-color), var(--dark-color));
}
svg > polyline {
    fill: light-dark(var(--light-focus), var(--dark-focus));
}
ol { list-style-type: none; padding: 0; }
li { text-align: center; }
{% endblock %}

{% block script %}
{% include "static/app.js" %}
{% endblock %}

{% block body %}
<h1>{{ now.strftime("%H:%M") }}</h1>
{% endblock %}

{% block button %}
<div id="location" class="center">
<button id="button" onclick="window.location.reload()">Reload</button>
<div id="error" class="small"></div>
</div>
{% endblock %}
