<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Chuva - Rain prediction for NL{% endblock %}</title>
<link rel="shortcut icon" type="image/png" href="/static/logo16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/static/logo32.png" />
<link rel="manifest" href="/manifest.json" />
<style>
{% include "static/style.css" %}
{% block style %}
{% endblock %}
</style>
<script>
{% include "static/location.js" %}
{% block onload %}
window.onload = (event) => {
    if (!!navigator.geolocation) {
        document.getElementById("button").disabled = false;
    }
}
{% endblock %}
</script>
</head>
<body>

{% block body %}
{% endblock %}

<div id="location" class="center">
<button id="button" onclick="getPosition()" disabled>Use my location</button>
<div id="error" class="small"></div>
</div>

{% block footer %}
<br>
<div class="small center"><a href="/">chuva</a></div>
{% endblock %}

</body>
</html>
