{% extends "base.html.jinja" %}

{% block body %}
<h1>Chuva</h1>
<div class="center">{{ status }}</div>

<ul class="small">
<li>File: {{ dataset }}</li>
<li>Kind: {{ kind }}</li>
<li>Age: {{ age }}</li>
</ul>
{% endblock %}

{% block button %}
{% endblock %}
